// include widescreens

@include mediaXXLg {
    header {

        .logo {
            font-size: 2.5rem;
        }

        ul a{
            font-size: 1.5rem;
        }
    }

    main {
        .sm-heading {
            top: 68%;
        }
    }

    .work {
        padding-bottom: 85rem;
    }

    .lg-heading {
        font-size: 6rem;
    }

    .sm-heading{
        font-size: 3rem;
    }

    
}

@include mediaXLg {
    header {
        .logo {
            font-size: 2rem;
        }
        
        ul a{
            font-size: 1rem;
        }
    }

    main {

        .sm-heading {
            top: 62%;
        }
    }

    .work {
        padding-bottom: 85rem;
    }
}


// desktop, laptop

@include mediaLg {
    header {
        width: 100%;
        
        .logo {
            display: none;
        }

        ul {
            flex-wrap: wrap;
            width: 100%;
            padding: 0;
            font-size: 2rem;
        }

        &.sticky {
            padding: 0 4rem;
        }
    }

    // main 

    main {
        width: 100%;
        text-align: center;

        .sm-heading {
            margin-top: 3rem;
        }
    }

    // work

    .work {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0 12rem 100rem 12rem;

        .lg-heading {
            font-size: 3rem;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .text-secondary {
            font-size: 1.5rem;
        }

        .wrapper-work {
            grid-template-columns: 1fr;
            grid-template-areas: 
            'project-1'
            'project-2'
            'project-3';
            grid-gap: 10rem;
        }
    }

    // about

    .about {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0 12rem 2rem 12rem;

        .lg-heading {
            font-size: 3rem;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .text-secondary {
            font-size: 1.5rem;
        }

        .wrapper-about {
            grid-template-columns: 1fr;
            grid-template-areas: 
            'bio'
            'work'
            'job-1'
            'job-2'
            'job-3';
        }

        .bio {
            font-size: 1.5rem;
        }
    }

    // contact

    .contact{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0 12rem 2rem 12rem;
        position: relative;

        .lg-heading {
            font-size: 3rem;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .text-secondary {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    footer {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0 12rem 2rem 12rem;
        position: absolute;
        right: 0;
    }


}


// tablets, small laptops

@include mediaMd {
    header {

        width: 100%;
        padding:0;

        .logo {
            display: none;
        }

        ul {
            flex-wrap: wrap;
            width: 100%;
            padding: 0;
        }

        &.sticky {
            padding: 0 4rem;
        }
    }

    // main

    main {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: none;
        margin-top: 10rem;
        padding: 0;
        
        .lg-heading {
            margin-top: 10rem;
            font-size: 3rem;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .sm-heading {
            position: initial;
            margin-top: 2rem;
        }

        .icons {
            margin: 2rem 0;
        }

    }

    // work

    .work {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: none;
        padding: 0 8rem 120rem 8rem;

        .lg-heading {
            font-size: 3rem;
            padding: 0;
            margin: 0;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .text-secondary {
            font-size: 1.5rem;
        }

        .wrapper-work {
            grid-template-columns: 1fr;
            grid-template-areas: 
            'project-1'
            'project-2'
            'project-3';
            grid-gap: 15rem;

        }
    }

    .about {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: none;
        padding: 0 2rem 2rem 2rem;

        .lg-heading {
            font-size: 3rem;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .text-secondary {
            font-size: 1.5rem;
        }

        .wrapper-about {
            grid-template-columns: 1fr;
            grid-template-areas: 
            'bio'
            'work'
            'job-1'
            'job-2'
            'job-3';
        }

        .bio {
            font-size: 1.5rem;
        }
    }

    .contact{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: none;
        padding: 0 2rem 2rem 2rem;

        .lg-heading {
            font-size: 3rem;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .text-secondary {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    footer {
        display: none;
    }
}

// phones

@include mediaSm {
    header {
        width: 100%;
        padding:0;

        .logo {
            display: none;
        }

        ul {
            flex-wrap: wrap;
            width: 100%;
            padding: 0;
        }

        &.sticky {
            padding: 0 4rem;
        }
    }

    // main

    main {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: none;
        margin-top: 10rem;
        padding: 0;

        &.dark {
            background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1) );
        }
        
        .lg-heading {
            margin-top: 10rem;
            font-size: 3rem;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .sm-heading {
            position: initial;
            margin-top: 2rem;
        }

        .icons {
            margin: 2rem 0;
        }

    }

    // work

    .work {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: none;
        padding: 0 2rem 115rem 2rem;

        .lg-heading {
            font-size: 3rem;
            padding: 0;
            margin: 0;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .text-secondary {
            font-size: 1.5rem;
        }

        .wrapper-work {
            grid-template-columns: 1fr;
            grid-template-areas: 
            'project-1'
            'project-2'
            'project-3';
            grid-gap: 15rem;

        }
    }

    .about {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: none;
        padding: 0 2rem 2rem 2rem;

        .lg-heading {
            font-size: 3rem;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .text-secondary {
            font-size: 1.5rem;
        }

        .wrapper-about {
            grid-template-columns: 1fr;
            grid-template-areas: 
            'bio'
            'work'
            'job-1'
            'job-2'
            'job-3';
        }

        .bio {
            font-size: 1.5rem;
        }
    }

    .contact{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: none;
        padding: 0 2rem 2rem 2rem;

        .lg-heading {
            font-size: 3rem;
        }

        .text-highlight {
            font-size: 3rem;
        }

        .text-secondary {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    footer {
        display: none;
    }
}