@import 'config';  
@import 'menu';  
@import 'form';

// GENERAL SETTINGS

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow: auto;
}

body {
    overflow: auto;
    margin: 0;
    height: 100%;
    font-family: 'Playfair Display SC', serif;
    line-height: 1.5;
    color: set-text-color($primary-color);
    @include easeOut;
    // DARK MODE SETTINGS

    &.dark {
        background-color: #212121;
        color: #e0e0e0;

        .icons a, .text-highlight, .nav-item, .logo{
            color:#c62828 ;
        }

        .icons a:hover {
            @include easeOut;
            color: #e0e0e0;
        }

        .lg-heading, .text-secondary {
            color: #e0e0e0;
        }

        .sticky {
            background-color: lighten($secondary-color, 5);
        }

        footer {
            background-color: #212121;
        }

        .border {
            border: 2px solid #c62828 ;
        }

        .contact {
            color: #000;
        }

        .form button {
            background-color: #c62828 ;
            border: 2px solid #212121;
        }
    }
}



h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem; // default font size of html document is 16px.. we have 6 rem... that means font size is 16 * 6 = 96px;
    }

    &.sm-heading {
        position: absolute;
        right: 20%;
        top: 70%;
        font-weight: 600;
    }
}

.text-highlight {
    color: $secondary-color;
    font-size: 6rem;
}

a {
    color: #fff;
    text-decoration: none;
}   

.border {
    border: 2px solid $secondary-color;
}

#theme-button {
    cursor: pointer;
}

// END GENERAL SETTINGS

// MAIN section

main {
    padding: 20vh 10rem;
    margin: 8rem 10rem 2rem 10rem;
    overflow: hidden;
    height: 100vh;
    background: url('https://budgetkratos.github.io/portfoliopage/img/bg-image.jpg');
    background-size: cover;

    -webkit-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
    
    &.dark {
        background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6) ), url('https://budgetkratos.github.io/portfoliopage/img/bg-image.jpg');
        background-size: cover;
    }

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem; 
            color: set-text-color($primary-color);
            @include easeOut; 

            &:hover {

                color: $secondary-color;
                //calling already created mixin for a transition
            }
        }
    }
    
    header {
        position: fixed; // burger menu always on top
        z-index: 2; //always in front of everything
        width: 100%; // it stretches across the whole screen
    }
}

// END MAIN SECTION

// WORK SECTION

.work {
    padding: 20vh 10rem;
    margin: 4rem 10rem 2rem 10rem;
    overflow: hidden;
    height: 100vh;
    background: url('https://budgetkratos.github.io/portfoliopage/img/bg-image-2.jpg');
    background-size: cover;


    -webkit-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);

    &.dark {
        background: linear-gradient( to top right,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6) ), url('https://budgetkratos.github.io/portfoliopage/img/bg-image-2.jpg');
    }

    .text-secondary {
        font-size: 3rem;
    }

    .wrapper-work {
        display: grid;
        grid-gap: 2rem;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
        grid-auto-flow: row;
        grid-template-areas:
        'project-1 project-2 project-3';

        .project {
            margin: 4rem auto;
            width:100%;  
            text-align: center;
            height: 100%;
            img, h2, p {
                padding: 0.5rem 2rem;
            }

            img {
                opacity: 0.2;
            }
        }

        .project-1 {
            grid-area: project-1;
            }
        

        .project-2 {
            grid-area: project-2;
        }

        .project-3{
            grid-area: project-3;
        }

        #project-img-1 {
            background: url('https://budgetkratos.github.io/portfoliopage/img/project1.jpg');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0.7;

            -webkit-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
            box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
            

            @include easeOut;

            &:hover {
                transform: scale(1.05);

                -webkit-box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);

                opacity: 1;
                }
        }

        #project-img-2 {
            background: url('https://budgetkratos.github.io/portfoliopage/img/project2.jpg');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;

            -webkit-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
            box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);

            @include easeOut;

            &:hover {
                transform: scale(1.05);
                border: none;

                -webkit-box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);

                opacity: 1;
            }
        }

        #project-img-3 {
            background: url('https://budgetkratos.github.io/portfoliopage/img/project3.jpg');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;

            -webkit-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
            box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);

            @include easeOut;

            &:hover {
                transform: scale(1.05);
                border: none;

                -webkit-box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);

                opacity: 1;
            }
        }

        .work-text-wrapper-1 {
            text-align: center;
            top: 0;
            margin: auto;
        }

        .work-text-wrapper-2 {
            text-align: center;
            top: 0;
            margin: auto;
        }

        .work-text-wrapper-3 {
            text-align: center;
            top: 0;
            margin: auto;
        }
    }
    

}

// END WORK SECTION

// ABOUT SECTION

.about {
    padding: 20vh 10rem;
    margin: 4rem 10rem 0rem 10rem;
    overflow: hidden;

    background: linear-gradient(to bottom right, #CED1D6, #FFFCF7);


    -webkit-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.75);

    &.dark {
        background: linear-gradient( to top right,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) ), url('https://budgetkratos.github.io/portfoliopage/img/bg-image-3.jpg');
        background-size: cover;
    }

    .text-secondary {
        font-size: 3rem;
        // margin-top: 1rem;
    }

    .bio {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    
    .wrapper-about {
        display: grid;
        grid-gap: 2rem;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-template-areas: 
        'bio bio bio'
        'work work work'
        'job-1 job-2 job-3';

        .bio {
            grid-area: bio;
        }

        .exp-heading {
            grid-area: work;
        }

        .job {
            margin: 2rem auto;
            width:95%;
            text-align: left;
            padding: 1rem 2rem;
            transition: 0.2s ease-out;

            &:hover {
                border: 6px solid $primary-color;

                -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
            }
        }

        .job-1 {
            grid-area: job-1;
        }

        .job-2 {
            grid-area: job-2;
        }

        .job-3 {
            grid-area: job-3;
        }

        .text-highlight {
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: underline;
        }

    }
    
}

// END ABOUT SECTION

// START FOOTER SECTION

footer {
    height: 20vh;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;


    font-size: 1.5rem;

    .icons a, a  {
        @include easeOut;
        &:hover{
            color: $secondary-color;
        }
    }
}


// rain


@import 'mobile';  // included at the bottom because we want them to run after everything in the DOM has been loaded